<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <script src="./js/script.js"></script>
    <title>Html</title>
    <title>Ejercicio de selectores avanzados</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<head>


</head>

<body>
    <h1>Ejercicio Elije tu propia aventura</h1>
    <img src="./assets/y2bfLw9.jpg" alt="Ciborg Ninja Cover">
    <p>Elije tu ptopia aventura <span>luego de leer el texto presiona el botón de acuerdo al criterio que consideres correcto.</span></p>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat similique doloremque repellat tempore illo impedit vitae facilis, fugiat magni quasi expedita laborum, ab id necessitatibus dolor perspiciatis explicabo porro?</p><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci eos beatae rerum debitis quam unde. Est incidunt ratione veniam, quas cum soluta? Dicta voluptatibus unde incidunt? Culpa, tempora optio.</p><br><hr>
    </div>
    <div>
        <p>Opciones</p>
        <ul><li><a href="option1.html"><input type="button" value="Elijo el camino hacia la derecha." name="Option1"
                title="Seleccionar primera opción"></a>
        </li><li><a href="option2.html"><input type="button" value="A la izquierda es el más adecuado" name="Option1"
                title="Seleccionar segunda opción"></a>
</li></ul>
    </div>
   
</body>

</html>
