<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <script src="./js/script.js"></script>
    <title>Html</title>
    <title>Ejercicio de selectores avanzados</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<head>


</head>

<body>
    <h1>Ejercicio Elije tu propia aventura - Continúas por el camino 2</h1>
    <img src="./assets/y2bfLw9.jpg" alt="Ciborg Ninja Cover">
    <p>Elije tu ptopia aventura <span>luego de leer el texto presiona el botón de acuerdo al criterio que consideres
            correcto.</span></p>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quaerat similique doloremque repellat
            tempore illo impedit vitae facilis, fugiat magni quasi expedita laborum, ab id necessitatibus dolor perspiciatis
            explicabo porro?</p><br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium adipisci eos beatae rerum debitis quam unde.
            Est incidunt ratione veniam, quas cum soluta? Dicta voluptatibus unde incidunt? Culpa, tempora optio.</p><br>
        <hr>
    </div>
    <div>
        <p>Lo lograste, felicitaciones.</p>
        <a href="games.html"><input type="button" value="Buscar otro juego." href="./index.html" name="newgame"
            title="Presiona el botón para buscar otro libro"></a>
    
    </div>
   
</body>

</html>
