<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" href="./css/style.css">-->
    <!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="07442289456347246">new CoolorsPaletteWidget("07442289456347246", ["000000","fffffc","beb7a4","ff7f11"]); </script>

      <!-- Coolors Palette Widget -->
      <script src="https://coolors.co/palette-widget/widget.js"></script>
      <script data-id="02810924457108812">new CoolorsPaletteWidget("02810924457108812", ["000000","5d737e","fcfcfc","f6ae2d"]); </script>

    <script src="./js/script.js"></script>
    <title>Html2</title>
</head>
<body>

    <h1>Esto es un Título</h1>
    <h2>Otro Título Más Pequeño</h2>
    <h3>Un Título Más Pequeño Que el Anterior</h3>
    <p>Esto es un párrafo. Podés extenderlo usando Lorem Ipsum.</p>
    <img src="https://i.imgur.com/81qyN1y.jpg">

</body>
</html>
