<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stylesample.css">
    <script src="./js/script.js"></script>
    <title>Html4</title>
</head>
<body>
<h1>Colores CSS</h1>
<ol>
  <li>RED</li>
  <li>Green</li>
  <li>Blue</li>
  <li>Mapple
    <ul>
      <li>baby-powder</li>
      <li>khaki-web</li>
      <li>amber-sae-ece</li>
    </ul>
  </li>
  <li>Black</li>
</ol>


</body>
</html>
